.Container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

.SearchContainer {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: white;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    padding: 0px 8px;
}

.SearchContainer i {
    position: absolute;
    z-index: 2;
    font-size: 2.2rem;
    color: #7a7a7a;
    right: 10%;
    cursor: pointer;
}

.Input {
    display: flex;
    width: 95%;
    height: 10%;
    background-color: white;
    border: solid 1px #e5e5e5;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 18px 11% 18px 8px;
}

.Input:focus {
    outline: 2px solid #b5dec1;
}

.Input::placeholder {
    color: #cdcdcd;
}

.UsersTable {
    width: 100%;
}

.pruebas {
    width: 100%;
    background-color: white;
    padding: 6px 16px;
    border-radius: 8px;
}

.ErrContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    padding: 30px;
}

.ErrIcon {
    margin-top: 20px;
    font-size: 10rem;
}

/* PC AND TABLE STYLES */
@media (min-width: 767px) {
    .Container {
        padding: 35px 6%;
        align-items: flex-start;
    }

    .h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }
}
