.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    padding: 0px;
}

.BreakpointSidebar {
    display: none;
}

.MenuIcon {
    z-index: 10;
    color: #4a4e51;
}

.MobileSidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f7;
    z-index: 9;
}

.li {
    padding: 24px 16px;
    font-size: 2.25rem;
}

.Link {
    color: inherit;
    text-decoration: inherit;
}

.Logo {
    width: 46px;
}

@media (min-width: 767px) {

    .Container {
        width: 40%;
        height: 100%;
        background-color: red;
    }

    .BreakpointSidebar {
        background-color: aqua;
        display: inline-block;
    }

    .MenuIcon {
        display: none;
    }
}