.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    padding: 0px;
    margin-top: 10px;
}

.BreakpointSidebar {
    display: none;
}

.MenuIcon {
    z-index: 10;
    color: #4a4e51;
    font-size: 1.8rem;
}

.MobileSidebar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f7;
    z-index: 9;
}

.li {
    padding: 24px 16px;
    font-size: 3rem;
    font-weight: 700;
}

.Link {
    color: inherit;
    text-decoration: inherit;
}

.Logo {
    width: 46px;
}



/* PC AND TABLE STYLES */
@media (min-width: 767px) {

    .Container {
        display: flex;
        width: 30%;
        height: 100%;
        background-color: white;
        flex-direction: column;
        padding: 30px;
        margin-top: 0px;
    }

    .BreakpointSidebar {
        width: 100%;
        display: inline-block;
    }

    .MenuIcon {
        display: none;
    }

    .ContainerLogoMobile {
        display: none;
    }

    .ContainerLogoDesktop {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .Logo {
        width: 50px;
    }

    .h1 {
        font-size: 2.5rem;
        color: #77b990;
        font-weight: 700;
    }

    .h2 {
        font-size: 1.50rem;
        color: #b5dec1;
        font-weight: 400;
    }

    .H1Menu {
        font-size: 2rem;
        color: #a1a1a1;
        font-weight: 200;
        margin-top: 50px;
    }

    .li {
        padding: 16px 14px;
    }

    .Link {
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #77b990;
        font-weight: 600;
    }

    .i {
        margin-right: 10px;
        display: flex;
    }
}