.Container {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

.headUserContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.h1 {
    font-size: 2rem;
    font-weight: 700;
}

.h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.p {
    font-size: 1.8rem;
    font-weight: 300;
}

.Icons {
    display: flex;
    font-size: 2rem;
    width: 14%;
    justify-content: space-between;

}

.Icons i {
    cursor: pointer;
}

.fields {
    margin-bottom: 10px;
}



/* PC AND TABLE STYLES */
@media (min-width: 767px) {
    .Icons {
        width: 8%;
    }
}